@model List<Entity.EmpleadoEntity>


<div class="container-fluid">
    <h1>Empleados</h1>

    <div class="row">

        <div class="col-3">
            <button type="button" class="btn btn-outline-primary" onclick="ClickNew()"><i class='bx bx-add-to-queue'></i></button>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div>
                <table id="GridEmpleado" class="table table-dark table-hover">
                    <thead>
                        <tr>
                            <th>Id Empleado</th>
                            <th>Tipo Identificacion</th>
                            <th>Empresa</th>
                            <th>Identificacion</th>
                            <th>Nombre</th>
                            <th>Edad</th>
                            <th>Sexo</th>
                            <th>Estado</th>
                            <th>Tiene Vehiculo</th>
                            <th>Vehiculos</th>
                            <th>Acción</th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.IdEmpleado</td>
                            <td>@item.TipoIdentificacion.Descripcion</td>
                            <td>@item.Empresa.NombreEmpresa</td>
                            <td>@item.Identificacion</td>
                            <td>@item.NombreEmpleado</td>
                            <td>@item.Edad</td>
                            <td>@(item.Sexo== "F"?"Femenino" : "Masculino")</td>
                            <td>@(item.Estado ? "Activo" : "Inactivo")</td>
                            <td>@(item.TieneVehiculo ? "Si" : "No")</td>
                            <td>@item.Vehiculos</td>
                            <td>
                                <button type="button" class="btn btn-outline-primary" onclick="ClickUpdate(@item.IdEmpleado)"><i class='bx bx-edit-alt'></i></button>
                                <button type="button" class="btn btn-outline-primary" onclick="ClickDelete(@item.IdEmpleado)"><i class='bx bx-trash'></i></button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>


@section scripts{

    @if (ViewData.ContainsKey("msg"))
    {
        <script>
            Swal.fire(
                'Deleted!',
                'Your file has been deleted.',
                'success');
            var IsLoading = false;
        </script>

    }

    else
    {
        <script>
          var IsLoading = true;
        </script>

    }

    <script src="~/Scripts/Empleado/Index.js"></script>





}
