@model List<Entity.EmpresaEntity>




@if (ViewData.ContainsKey("msg"))
{ 
 <script>
     alert("@ViewData["msg"]");
 </script>

}


<div class="container-fluid">
    <h1>Empresas</h1>

    <div class="row">

        <div class="col-3">
            <button type="button" class="btn btn-outline-primary" onclick="ClickNew()"><i class='bx bx-add-to-queue'></i></button>
        </div>
    </div>
   

    <div class="row">
        <div class="col-6">
            <div>
                <table class="table table-dark table-hover">
                    <thead>
                        <tr>
                            <th>Id Empresa</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Acción</th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.IdEmpresa</td>
                                <td>@item.NombreEmpresa</td>
                                <td>@(item.Estado ? "Activo" : "Inactivo")</td>
                                <td>
                                    <button type="button" class="btn btn-outline-primary" onclick="ClickUpdate(@item.IdEmpresa)"><i class='bx bx-edit-alt'></i></button>
                                    <button type="button" class="btn btn-outline-primary" onclick="ClickDelete(@item.IdEmpresa)"><i class='bx bx-trash'></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
    

@section scripts{
    
    <script>

        var ClickNew = function () {
            window.location.href = "Empresa/Edit";
        }

        var ClickUpdate = function (id) {
            window.location.href = "Empresa/Edit/" + id;
        }

        var ClickDelete = function (id) {

            var result = confirm("Esta seguro de que desea eliminar el registro?");
            if(result) window.location.href = "Empresa/Delete/" + id;
        }




    </script>
     
       
    
    
    }

